<header>
    <div class="text">
        <h1>Interactive World Map</h1>
        <span>WGU - D280</span>
    </div>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    Map
                </a>
            </li>
            <li>
                <a [routerLink]="['sources']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    Sources
                </a>
            </li>
        </ul>
    </nav>
</header>