#page-wrapper,
#map,
#display-data {
  display: flex;
  flex-grow: 1;
}

#map,
#display-data {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-wrapper {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  max-width: 1920px;
}

#map {
  width: 70%;
}

#display-data {
  width: 30%;
  padding: 3rem;
}
