<div class="card-container">
    <div class="card-header">
        <h2>Country Details</h2>
        <p>Click on a country to view its details</p>
    </div>
    <ul>
        <li><b>Country Name:</b> {{countryDetails?.name}}</li>
        <li><b>Capital:</b> {{countryDetails?.capital}}</li>
        <li><b>Income Level:</b> {{countryDetails?.incomeLevel}}</li>
        <li><b>Region:</b> {{countryDetails?.region}}</li>
        <li><b>Latitude:</b> {{countryDetails?.latitude}}</li>
        <li><b>Longitude:</b> {{countryDetails?.longitude}}</li>
    </ul>
</div>